* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Frame {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  overflow: hidden;
}

.Button {
  width: 10%;
  background-color: grey;
  cursor: pointer;
}

.Viewport {
  width: 90%;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  overflow: hidden;
}

.SlideAnimFrame {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-evenly;
  translate: transitionX(0%);
  transition-duration: 0ms;
}

.Container {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  translate: transitionX(0%);
  transition-duration: 0ms;
}

.SubFrame {
  height: 100%;
  display: flex;
  justify-content: center;  
}

.Item {
  flex: 1;
  background-color: black;
  margin: 2px;
  text-align: center;
  object-fit: contain;
}

.Container:hover .Item {
  transform: translateX(-15%);
}

.Item:hover ~ .Item {
  transform: translateX(15%);
}

.Item:hover {
  cursor: pointer;
  transform: scale(1.15) !important;
}
