* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Frame {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
}

.Button {
  width: 10%;
  padding: 5px;
  background-color: green;
}
.Viewport {
  width: 80%;
  display: flex;
  background-color: brown;
  justify-content: space-evenly;
  overflow-x: hidden;
}
.Container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: blue;
  translate: transitionX(0%);
  transition-duration: 0ms;
}

.SubFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Item {
  flex: 1;
  width: 100px;
  background-color: red;
  margin: 5px;
  text-align: center;
}
